<% include Base_elements/Header %>
<h1><%= title %></h1>
<ul class="nav nav-pills">
    <% for (var i =0; i < tab.length;i++){
    if(current_category == tab[i].link){%>
    <li role="presentation" class="active"><a href=<%=tab[i].link%>><%=tab[i].text %></a></li>
    <%}
    else{%>
    <li role="presentation"><a href=<%=tab[i].link%>><%=tab[i].text %></a></li>
    <%}}%>
    <li><a class="btn btn-danger btn-xs" href="/logout">logout</a></li>
</ul>
<form action="/addnew" method="post">
    <input type="hidden" name="_csrf" value="<%= csrf %>">
    <div class="form-group">
        <label for="Category_select">Category</label>
        <select name="Category_select" id="Category_select" class="form-control">
            <%for(var i=1; i< tab.length-1; i++){%>
            <option value="<%=tab[i].link%>"><%=tab[i].text%></option>
            <%}%>
        </select>
    </div>
    <div class="form-group">
        <label for="Task_description">Description</label>
        <input name="Task_description" type="text" class="form-control" id="Task_description" placeholder="Description">
    </div>
    <button type="submit" class="btn btn-default">Add item</button>
</form>

<% include Base_elements/Footer %>