<% include Base_elements/Header %>
<h1><%= title %></h1>
<ul class="nav nav-pills">
    <% for (var i =0; i < tab.length;i++){
    if(current_category == tab[i].link){%>
    <li role="presentation" class="active"><a href=<%=tab[i].link%>><%=tab[i].text %></a></li>
    <%}
    else{%>
    <li role="presentation"><a href=<%=tab[i].link%>><%=tab[i].text %></a></li>
    <%}}%>
    <li><a class="btn btn-danger btn-xs" href="/logout">logout</a></li>
</ul>
<%if(Alert != null){%>
<div class="alert alert-danger col-md-offset-3 col-md-6" role="alert"><strong>Warning! </strong> <%= Alert%></div>
<%}%>
<ul class="list-group">
    <%for(var i =0; i < Listitems.length;i++)
    {
        if(current_category == Listitems[i].category)
        {%>
            <li class="list-group-item list-group-item-success">
        <% if(Listitems[i].ID == edit_id && edit_id != null )
            {%>
                <form action="/edit" method="post">
                    <input type="hidden" name="_csrf" value="<%= csrf %>">
                    <input name ="ID" type="hidden" value="<%= Listitems[i].ID%>">
                    <input name="change_value" type ="text" value="<%= Listitems[i].Value%>">
                    <button type="submit">Save changes</button>
                </form>
                <%}else{%>
                <%= Listitems[i].Value%>
                <a href="/edit?id=<%= Listitems[i].ID%>&current_cat=<%=current_category%>">Edit</a>
                <a href="/delete?id=<%= Listitems[i].ID%>&current_cat=<%=current_category%>">Delete</a>
            </li>
    <%}}}%>
</ul>
<% include Base_elements/Footer %>